@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");

.title-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.waviy {
  margin-top: 4%;
  position: relative;
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 4rem;
  /* color: #22223b; */
  color: black;
  font-family: "Bad Script", cursive;
  font-weight: bold;
  /* background-color: #ddd; */
  padding: 10px;
  border-radius: 0.5rem;
}
