@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap");

.title-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.waviy {
  margin-top: 2%;
  position: relative;
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 6rem;
  color: #003554;
  font-family: "Bad Script", cursive;
  font-weight: bold;
  padding: 10px;
  border-radius: 0.5rem;
  font-family: "Tangerine", cursive;
  font-weight: 900;
  font-style: normal;
  user-select: none;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .waviy span {
    font-size: 4rem;
    padding: 5px;
  }
}

/* Media query for even smaller screens */
@media (max-width: 480px) {
  .waviy span {
    font-size: 3rem;
    padding: 5px;
  }
}
