.abouts-page {
  overflow: hidden;
  overflow-x: hidden;
}

.about-logo-section {
  background-color: #fff;
  padding: 5%;
  text-align: center;
}
.about-logo-image {
  height: 22rem;
  width: 22rem;
  border-bottom-right-radius: 5rem;
}

@media (max-width: 768px) {
  .about-logo-image {
    height: 20rem;
    width: 20rem;
  }
  .about-text-section {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    margin-top: 2rem;
  }
}

.about-text-section {
  background-color: #93deff;
  display: flex;
  align-items: center;
  font-size: 17px;
  justify-content: center;
  padding: 5%;
  text-align: justify;
  border-top-left-radius: 5rem;
  /* border-bottom-left-radius: 5rem ; */
}

.about-text {
  width: 95%;
}

.about-mission-statement {
  background-color: black;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
  margin-top: 4rem;
}

.about-mission-statement p {
  font-size: 1.1rem;
}

.about-team-section {
  padding: 5%;
  height: 35rem;
  background-color: #fff;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.about-text .Priorities {
  color: rgb(0, 0, 0);
  font-size: large;
  font-weight: bolder;
}
