.navbar-logo {
  width: 3rem;
  height: 3rem;
}

.navbar {
  z-index: 10;
}

@media (max-width: 600px) {
  .navbar-collapse {
    background-color: rgba(128, 128, 128, 0.5);
    padding: 1rem;
    border-radius: 1rem;
    margin: 0;
  }
}

.sign-in-button {
  /* --primary-color: #645bff; */
  --primary-color: #778da9;
  --secondary-color: #fff;
  --hover-color: #415a77;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 0.5em 0.9em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
}

.sign-in-button .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-in-button .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.sign-in-button .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

.sign-in-button:hover {
  background-color: var(--hover-color);
}

.sign-in-button:hover .arrow {
  background: var(--secondary-color);
}

.sign-in-button:hover .arrow:before {
  right: 0;
}
