.toggle-button {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.btn-info {
  margin-left: 2rem;
}

@media (max-width: 600px) {
  .btn-info {
    margin-left: 2%;
  }
}

.route-deatails {
  padding-bottom: 2rem;
}
